Package: jp.ashikase.multiiconmover
Name: MultiIconMover
Version: svn.r65
Architecture: iphoneos-arm
Description: Move multiple SpringBoard icons at a time.
Homepage: http://iphone-tweaks.googlecode.com/
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=multiiconmoverData
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <gaizin@gmail.com>
Section: System
Depends: mobilesubstrate, firmware (>=3.0)
dev: ashikase
Sponsor: thebigboss.org <http://thebigboss.org>
